$font: 'Poppins', sans-serif;


// Color
$primary: #06d56b;
$content: #b3b4b8;

$w:         #FFFFFF;
$f5:        #F5F5F5;
$b:         #0d1325;
$e:         #EEEEEE;
$ef:        #EFEFEF;
$grey:      #d5d5d7;
$color-27:        #272727;
